<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Crypto Currency Check </title>
</head>
<body>
 <div>
    <h1>Crypto Currency Checker</h1>
</div>

 <div>
<form method="post">
    <%if (locals.data){%>
    <h2>Your Currency status for: </h2>
    <a class="currency"><%=data.name%> <img class="logo" src="<%= data.name %>.png"></a>
    <p>Current Price : <%= parseFloat(data.priceUsd).toFixed(2)%> USD</p>
    <button type="submit"  formaction="/">Go back </button>
    <%}else{%>
        <h2>Error 400 pls check console for Info</h2>
        <%}%>
</form>
</div> 

<diV>
<form method="post">   
     <button type="submit" id="graph" value='<%=data.name.toLowerCase()%>' name="currency" formaction="/graph">Open Last Month Graph</button>
</form>
</diV>


<div>
    <footer>Copyright by Robert Saliger</footer>
</div>
</body>

</html>