<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Crypto Currency Check </title>
</head>
<body>
 <div>
    <h1>Crypto Currency Checker</h1>
</div>

 <div>
<form method="post">
    <%if (locals.data){%>
    <h2>Your Currency status for: <a class="currency"> <img class="logo" src="<%= data.name %>.png"> <%=data.name%></a> </h2>
    <p>Current Price : <%= parseFloat(data.priceUsd).toFixed(2)%> USD</p>
    <button type="submit"  formaction="/">Go back </button>
    <%}else{%>
        <h2>Error 400 pls check console for Info</h2>
        <%}%>
</form>
</div> 

<div>
    <footer>Copyright by Robert Saliger</footer>
</div>

</body>

</html>