<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Crypto Currency Check </title>
</head>
<body>
 <div>
    <h1>Crypto Currency Checker</h1>
</div>
test
<div>
    <footer>Copyright by Robert Saliger</footer>
</div>
</body>

</html>