<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Crypto Currency Check </title>
</head>
<body>
 <div>
    <h1>Crypto Currency Checker</h1>
</div>

 <div>
<form method="post">
    <h2>Choose your Curency to Check </h2>
    <a>
        <img class="logo" src="bitcoin.png" alt="Bitcoin-Logo">
        <button type="submit" value="bitcoin" name="currency" formaction="/currency">BTC</button>
    </a>
    
    <a>
        <img class="logo" src="ethereum.png" alt="Etherium-Logo">
        <button type="submit" value="ethereum" name="currency" formaction="/currency">Etherium</button>
    </a>
   
    <a>
        <img class="logo" src="dogecoin.png" alt="DogeCoin-Logo">
        <button type="submit" value="dogecoin" name="currency" formaction="/currency">Doge Coin</button>
    </a>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</form>
</div> 

<div>
    <footer>Copyright by Robert Saliger</footer>
</div>

</body>

</html>